<header class="header">
    <div class="header-left">
        <button class="menu-toggle">
            <i class="fa fa-bars"></i>
        </button>
        <div class="logo">
            <div class="logo-icon">D</div>
            <h1>Dashboard</h1>
        </div>
    </div>
    <!-- <div class="header-actions">
        <div class="header-search-bar">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search for...">
        </div>
        <button class="add-user-btn">Add user</button>
    </div> -->
</header>
